# to exclude Obsidian workspace settings (including plugin and hotkey configurations)
.obsidian/*

# Exclude consultant specific files "personal"
05*-*Personal/

# This file is used to keep track of last auto backup/pull
.obsidian-git-data

# Exclude Untitled Notes
Untitled*
# Exclude "bad" names
null*

# Add below lines to exclude OS settings and caches
.trash/
.DS_Store
resources/.DS_Store